@import 'TnTComponents/_materialIcons.scss';
@import 'TnTComponents/_colors.scss';
@import 'TnTComponents/_interactivity.scss';
@import 'TnTComponents/_measurements.scss';
@import 'TnTComponents/_progress.scss';

@import 'TnTComponents/_buttons.scss';
@import 'TnTComponents/_typeography.scss';
@import 'TnTComponents/_border-radius.scss';
@import 'TnTComponents/_ripple.scss';
@import 'TnTComponents/_flex.scss';
@import 'TnTComponents/_layout.scss';

@import 'TnTComponents/_input.scss';
@import 'TnTComponents/_anchor.scss';
@import 'TnTComponents/_tabview.scss';
@import 'TnTComponents/_accordion.scss';
@import 'TnTComponents/_dialog.scss';
@import 'TnTComponents/_skeleton.scss';
@import 'TnTComponents/_toast.scss';
@import 'TnTComponents/_datagrid.scss';
@import 'TnTComponents/_chips.scss';
@import 'TnTComponents/_typeahead.scss';
@import 'TnTComponents/_scheduler.scss';

.tnt-components {
    font-family: 'Roboto', sans-serif;
}

.tnt-interactable:not(.tnt-disabled) {
    cursor: pointer;
}

.tnt-disabled {
    cursor: not-allowed;
}

body {
    margin: 0;
    background-color: $tnt-color-background;
}

.fa {
    color: $tnt-color-on-background;
}

* {
    scrollbar-color: $tnt-color-on-surface-variant $tnt-color-surface-variant;
}

:has(#tnt-theme-design-dark[media=all]) {
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

.tnt-divider-horizontal {
    box-sizing: border-box;
    border-top: 1px solid var(--divider-color);
    width: 100%;
    margin: 0 0.1rem;
}

.tnt-divider-vertical {
    box-sizing: border-box;
    border-left: 1px solid var(--divider-color);
    height: 100%;
    margin: 0.1rem 0;
}

.tnt-grid-container {
    display: grid;
}

tnt-theme-toggle {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;

    & > .tnt-theme-toggle-icon {
        user-select: none;
        cursor: pointer;
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    & > select {
        z-index: 1;
        background: none;
        color: none;
        border: none;
        appearance: none;
        outline: none;
        width: 100%;
        height: 100%;
        font-size: 0;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;

        & > option {
            font-size: 1rem;
        }
    }
}

tnt-body {
    .editor-toolbar {
        i.fa {
            color: $tnt-color-on-surface;
        }
    }
}
