.tnt-accordion {
    display: block;
    margin: 8px;

    .tnt-accordion-child {
        border-radius: inherit;

        & > h3:first-child {
            border-radius: inherit;
            user-select: none;
            border-bottom: 1px solid $tnt-color-outline;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0 8px;
            box-sizing: border-box;
            transition: border-radius 250ms linear;
            z-index: 100;
            position: sticky;
            top: 0;

            .tnt-icon {
                padding: 8px;
                transition: 250ms;
                user-select: none;
                pointer-events: none;
            }
        }

        &:has(.tnt-accordion) {
            .tnt-accordion-child > h3:first-child{
                z-index:101;
            }
        }

        & > div:last-child {
            overflow: auto;
            max-height: 80vh;

            &.tnt-collapsed {
                animation: 250ms ease-in-out forwards closeAccordion;
            }

            &.tnt-expanded {
                display: block;

                &:not(:has(.tnt-expanded)):not(:has(.tnt-collapsed)) {
                    animation: 250ms ease-in-out forwards openAccordion;
                }
            }

            &:not(.tnt-collapsed):not(.tnt-expanded) {
                height: 0;
                display: none;
            }
        }

        &:has(.tnt-expanded) {
            & > h3 > .tnt-icon {
                transform: rotateZ(180deg);
            }
        }
    }

    & > div:last-child {
        border-end-start-radius: 8px;
        border-end-end-radius: 8px;
    }

    &:has(.tnt-accordion-child:last-child > .tnt-expanded) {
        & > div:last-child {
            & > h3 {
                border-end-start-radius: 0;
                border-end-end-radius: 0;
            }
        }
    }

    & > div:first-child {
        border-start-start-radius: 8px;
        border-start-end-radius: 8px;
    }
}


@keyframes closeAccordion {
    0% {
        height: var(--content-height);
    }

    100% {
        height: 0px;
        display: none;
    }
}

@keyframes openAccordion {
    0% {
        height: 0px;
    }

    100% {
        height: var(--content-height);
    }
}
