.tnt-components.tnt-chip {
    height: 32px;
    border-radius: 8px;
    border: 1px solid $tnt-color-outline;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    position: relative;
    vertical-align: middle;
    margin: 4px;
    @extend .tnt-label-large;

    .tnt-icon {
        user-select: none;
        color: inherit;
    }

    &:has(.tnt-start-icon) {
        padding-left: 0;

        .tnt-start-icon {
            padding: 0 8px;
        }
    }

    &:has(.tnt-chip-close-button) {
        padding-right: 0;

        .tnt-chip-close-button {
            margin: 0 8px;
            min-width: unset;
            min-height: unset;
            width: unset;
            height: unset;
            color: inherit;

            .tnt-icon {
                margin: 0;
                padding: 0;
                font-size: 18px;
            }
        }
    }

    input {
        appearance: none;
        position: absolute;
    }

    &.tnt-togglable:has(input:checked) {
        @each $colorClass in $color-classes {
            &.tnt-tint-color-#{$colorClass} {
                background-color: var(--tnt-color-#{$colorClass});
            }

            &.tnt-on-tint-color-#{$colorClass} {
                color: var(--tnt-color-#{$colorClass});
            }
        }
    }
}
