table.tnt-components.tnt-datagrid {
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    &.tnt-loading {
        opacity: 0.3;
    }

    @media #{$small-and-down} {
        table-layout: auto;
    }

    thead {
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: inherit;
        @extend .tnt-elevation-2;

        tr.tnt-components.tnt-data-grid-header {

            th {
                padding: 0;
                margin: 0;
                position: relative;
                user-select: none;
                min-width: 16px;
                overflow: hidden;
                @extend .tnt-title-medium;

                .tnt-header-content {
                    padding: 4px 8px;
                    vertical-align: middle;
                    color: $tnt-color-on-surface;
                    box-sizing: border-box;
                    min-width: 100%;
                    width: max-content;

                    .tnt-icon {
                        float: right;
                    }

                    &.tnt-interactable:hover {
                        color: $tnt-color-secondary;
                    }

                    &.tnt-sorted-on {
                        color: $tnt-color-primary;
                    }
                }

                .tnt-resizeable {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 5px;
                    background-color: transparent;
                    cursor: col-resize;
                    border-right: 1px solid $tnt-color-outline;
                }
            }
        }
    }

    &.tnt-stripped {
        tbody {
            tr:nth-child(odd) {
                background-color: $tnt-color-surface-container-low;
            }
        }
    }

    &.tnt-compact {
        width: 100%;

        tr {
            td {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: clip;
                height: 32px;
            }

            @media #{$medium-and-up} {
                &:hover {
                    td {
                        white-space: revert;
                        text-overflow: revert;
                    }
                }
            }
        }
    }

    tbody {
        tr {
            background-color: $tnt-color-surface-container-lowest;

            td {
                box-sizing: border-box;
                padding: 0.16px 4px;
            }
        }
    }

    &:not(.tnt-loading) {
        thead tr.tnt-data-grid-header th.tnt-col-sortable {
            &:hover {
                background-color: $tnt-color-surface-container;
                opacity: 0.8;
            }

            cursor: pointer;
        }

        tbody tr.tnt-clickable {
            transition: background-color ease-in-out 200ms;
            cursor: pointer;

            &:hover {
                background-color: color-mix(in srgb, $tnt-color-surface-tint 25%, transparent);
            }
        }
    }

    tr {
        td:not(:first-child), th:not(:first-child) {
            border-left: 1px solid color-mix(in srgb, $tnt-color-outline 20%, $tnt-color-surface);
        }
    }
}
