.tnt-col {
    .tnt-input {
        width: calc(100% - 16px);
    }
}

.tnt-input.tnt-components {
    height: 36px;
    position: relative;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 8px 8px 16px;
    transition: 150ms ease-in-out;
    min-width: fit-content;
    user-select: none;
    cursor: text;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-background-clip: text;
        -webkit-text-fill-color: $tnt-color-on-surface;
        -webkit-box-shadow: 0 0 0 0 transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:has(textarea) {
        width: calc(100% - 16px);
    }

    input, select, textarea {
        appearance: none;
        border: none;
        outline: none;
        background-color: transparent;
        color: inherit;
        caret-color: inherit;
        width: 100%;
        @extend .tnt-body-large;
    }

    .tnt-label {
        position: absolute;
        transition: 150ms;
        padding: 0 4px;
        @extends .tnt-body-large;
    }

    .tnt-validation-message {
        color: inherit;
        position: absolute;
        bottom: -20px;
        @extend .tnt-body-small;
    }

    &:has(.tnt-icon) {
        &:has(.tnt-end-icon) {
            padding-right: 12px;
        }

        &:has(.tnt-start-icon) {
            padding-left: 12px;

            &:not(:has(input[type=checkbox])):not(:has(select[multiple])):not(fieldset) {

                .tnt-label {
                    transform: translateX(42px);
                }
            }
        }

        .tnt-icon {
            color: inherit;
            user-select: none;

            &.tnt-end-icon {
                padding-left: 16px;
            }

            &.tnt-start-icon {
                padding-right: 16px;
            }
        }
    }

    &.tnt-outlined {
        @extend .tnt-border-radius-1;

        &:not(fieldset) {
            outline: 1px solid $tnt-color-outline;
        }


        @each $colorClass in $color-classes {
            &.tnt-bg-color-#{$colorClass} {
                .tnt-label {
                    background-color: var(--tnt-color-#{$colorClass});
                }
            }
        }

        &:not(:has(input[type=checkbox])):not(:has(select[multiple])):not(fieldset) {
            &.tnt-placeholder, &:not(:has(input:placeholder-shown)), &:focus-within {
                .tnt-label {
                    transform: translateY(-20px);
                }
            }
        }
    }

    &.tnt-filled {
        border-bottom: 1px solid $tnt-color-outline;

        &:not(fieldset) {
            .tnt-icon, input, select {
                transform: translateY(8px);
            }
        }

        &:not(:has(input[type=checkbox])):not(:has(select[multiple])):not(fieldset) {
            &.tnt-placeholder, &:not(:has(input:placeholder-shown)), &:focus-within {
                .tnt-label {
                    transform-origin: left;
                    transform: translateY(-10px) scale(0.8);
                }

                &:has(.tnt-start-icon) {
                    .tnt-label {
                        transform: translateX(40px) translateY(-10px) scale(0.8);
                    }
                }
            }
        }
    }

    &:has(select[multiple]):not(fieldset) {
        height: 192px;

        select {
            height: 16px;
        }

        &.tnt-filled {

            .tnt-label {
                transform-origin: left;
                transform: translateY(-85px) scale(0.8);
            }

            &:has(.tnt-start-icon) {
                .tnt-label {
                    transform: translateX(40px) translateY(-85px) scale(0.8);
                }
            }
        }

        &.tnt-outlined {
            @each $colorClass in $color-classes {
                &.tnt-bg-color-#{$colorClass} {
                    .tnt-label {
                        background-color: var(--tnt-color-#{$colorClass});
                    }
                }
            }

            .tnt-label {
                transform-origin: left;
                transform: translateY(-96px);
            }
        }
    }

    &:focus-within, &:has(input:active), &:has(label:active), &:has(select:active) {
        outline-width: 3px !important;
        border-width: 3px !important;

        @each $colorClass in $color-classes {
            &.tnt-tint-color-#{$colorClass} {
                outline-color: var(--tnt-color-#{$colorClass});
                border-color: var(--tnt-color-#{$colorClass});

                input {
                    caret-color: var(--tnt-color-#{$colorClass});
                }

                &:not(:has(input[type=checkbox])):not(fieldset) {
                    .tnt-label {
                        color: var(--tnt-color-#{$colorClass});
                    }
                }
            }
        }
    }

    &.invalid.modified {
        outline-color: $tnt-color-error;
        border-color: $tnt-color-error;

        input {
            caret-color: $tnt-color-error;

            &::placeholder {
                color: color-mix(in srgb, $tnt-color-error 70%, transparent);
            }
        }

        .tnt-label, legend, .tnt-validation-message, .tnt-icon.tnt-end-icon {
            color: $tnt-color-error;
        }
    }

    @each $colorClass in $color-classes {
        &.tnt-bg-color-#{$colorClass} {
            option {
                background-color: var(--tnt-color-#{$colorClass});
            }
        }

        &.tnt-fg-color-#{$colorClass} {
            option {
                color: var(--tnt-color-#{$colorClass});
            }
        }
    }

    &:has(textarea) {
        height: fit-content;
        padding-top: 4px;

        .tnt-label {
            top: 8px;
        }

        &.tnt-filled {
            padding-top: 16px;
        }
    }

    &:has(select:not(disabled)) {
        &:hover {
            cursor: pointer;
        }

        select {
            cursor: inherit;
        }
    }

    &:has(input[type=checkbox]) {
        border: none;
        outline: none;

        input {
            width: unset;
        }

        .tnt-checkbox {
            position: absolute;
            transition: 250ms ease-in-out;

            &:before {
                position: absolute;
                content: '';
                box-sizing: border-box;
                transition: inherit;
            }

            &:after {
                position: absolute;
                content: '';
                box-sizing: border-box;
                transition: inherit;
            }
        }

        &:not(.tnt-switch) {
            .tnt-checkbox {
                width: 40px;
                height: 40px;
                border-radius: 50%;


                &:before {
                    width: 18px;
                    height: 18px;
                    left: calc(100% / 2 - calc(18px / 2));
                    top: calc(100% / 2 - calc(18px / 2));
                    border-radius: 2px;
                    border: 2px solid $tnt-color-outline;
                }

                &:after {
                    width: calc(18px / 3);
                    height: calc(18px * .7);
                    left: 0; //;
                    top: 0; //;
                    border-radius: 1px;
                    border-bottom-width: 2px;
                    border-right-width: 2px;
                    border-bottom-style: solid;
                    border-right-style: solid;
                    transform: translateX(calc(40px / 2 - calc(calc(18px / 3) / 2))) translateY(calc(40px / 2 - calc(calc(18px * .8) / 1.75))) rotateZ(45deg) rotateX(90deg);
                }
            }

            @each $colorClass in $color-classes {
                &.tnt-fg-color-#{$colorClass} {
                    .tnt-checkbox:after {
                        border-color: var(--tnt-color-#{$colorClass});
                        filter: invert(1);
                    }
                }
            }
        }

        &.tnt-switch {
            .tnt-checkbox {
                width: 44px;
                height: 24px;
                border: 2px solid $tnt-color-outline;
                background-color: $tnt-color-surface-container-highest;
                border-radius: 128px;
                box-sizing: border-box;

                &:before {
                    width: 40px;
                    height: 40px;
                    left: calc(40px / -2 + 12px);
                    top: -50%;
                    border-radius: 50%;
                }

                &:after {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: $tnt-color-outline;
                    left: 6px;
                    top: calc(50% / 2 - calc(12px / 8));
                    @extend .tnt-elevation-1;
                }
            }
        }

        .tnt-label {
            position: relative;
            background-color: transparent !important;
            transform: none;
            margin-left: 48px;
        }


        .tnt-icon {
            transform: none;
        }

        &:has(input:checked) {

            &:not(.tnt-switch) {
                @each $colorClass in $color-classes {
                    &.tnt-tint-color-#{$colorClass} {
                        .tnt-checkbox:before {
                            background-color: var(--tnt-color-#{$colorClass});
                            border-color: var(--tnt-color-#{$colorClass});
                        }
                    }
                }

                .tnt-checkbox {
                    &:after {
                        transform: translateX(calc(40px / 2 - calc(calc(18px / 3) / 2))) translateY(calc(40px / 2 - calc(calc(18px * .8) / 1.75))) rotateZ(45deg);
                    }
                }

                &:has(input:disabled) {
                    .tnt-checkbox:before {
                        background-color: $tnt-color-outline;
                        border-color: $tnt-color-outline;
                    }
                }
            }

            &.tnt-switch {
                @each $colorClass in $color-classes {
                    &.tnt-tint-color-#{$colorClass} {
                        .tnt-checkbox {
                            background-color: var(--tnt-color-#{$colorClass});
                            border-color: var(--tnt-color-#{$colorClass});
                        }
                    }
                }

                @each $colorClass in $color-classes {
                    &.tnt-fg-color-#{$colorClass} {
                        .tnt-checkbox:after {
                            background-color: var(--tnt-color-#{$colorClass});
                        }
                    }
                }

                .tnt-checkbox {
                    &:before {
                        transform: translateX(18px);
                    }

                    &:after {
                        transform: translateX(18px) scale(1.35);
                        filter: invert(1);
                    }
                }

                &:has(input:disabled) {
                    .tnt-checkbox {
                        background-color: $tnt-color-on-surface;
                        border-color: $tnt-color-on-surface;
                    }
                }
            }
        }

        &:has(.tnt-start-icon) {
            .tnt-checkbox {
                left: 40px;
            }

            .tnt-label {
                margin-left: 32px;
            }
        }

        &:hover {
            &:not(:has(input:disabled)) {
                cursor: pointer;
            }
        }

        &:focus-within, &:hover {
            &:not(:has(input:disabled)) {
                &:not(.tnt-switch) {
                    .tnt-checkbox {
                        background-color: color-mix(in srgb, $tnt-color-shadow 50%, transparent);
                    }
                }

                &.tnt-switch {
                    .tnt-checkbox:before {
                        background-color: color-mix(in srgb, $tnt-color-shadow 70%, transparent);
                    }
                }
            }
        }

        &.invalid.modified {
            .tnt-label, .tnt-end-icon {
                color: $tnt-color-error;
            }

            &:focus-within, &:hover {
                &:not(:has(input:disabled)) {

                    &:not(.tnt-switch) .tnt-checkbox, &.tnt-switch .tnt-checkbox:before {
                        background-color: color-mix(in srgb, $tnt-color-error 30%, transparent);
                    }
                }
            }

            &:has(input:checked) {
                &:not(.tnt-switch) .tnt-checkbox:before, &.tnt-switch .tnt-checkbox {
                    background-color: $tnt-color-error;
                    border-color: $tnt-color-error;
                }
            }

            .tnt-checkbox {
                border-color: $tnt-color-error;
            }

            .tnt-checkbox:before {
                border-color: $tnt-color-error;
            }

            .tnt-checkbox:after {
                border-color: $tnt-color-on-error;
                filter: invert(0);
            }
        }
    }

    &:is(fieldset) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-color: $tnt-color-outline;
        border-width: 1px;
        box-sizing: border-box;
        padding: 8px;
        @extend .tnt-label-large;

        &.tnt-vertical {
            flex-direction: column;
            align-items: unset;
            height: fit-content;
        }

        &.tnt-disabled {
            input, .tnt-label, label {
                pointer-events: none;
            }
        }


        &.tnt-filled {
            border-top: none;
            border-left: none;
            border-right: none;

            legend {
                transform: translateY(12px) translateX(24px);
            }
        }

        legend {
            color: inherit;
        }

        label {
            display: inline-flex;
            flex-direction: row;
            padding: 8px;
            border-radius: 16px;
            align-items: center;
        }

        .tnt-label {
            position: relative;
            transform: none;
            color: inherit;
        }

        input {
            width: revert;
        }

        .tnt-radio-button {
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            border-radius: 50%;
            border: 2px solid $tnt-color-outline;
            position: relative;
            transition: border-color linear 100ms;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: inherit;
                box-sizing: border-box;
                transition: transform ease-in-out 100ms;
                transform: scale(0);
                transform-origin: 50% 50%;
            }
        }


        @each $colorClass in $color-classes {
            &.tnt-tint-color-#{$colorClass} {
                label {
                    &:has(input:checked) {
                        color: var(--tnt-color-#{$colorClass});

                        .tnt-radio-button {
                            border-color: var(--tnt-color-#{$colorClass});

                            &:before {
                                background-color: var(--tnt-color-#{$colorClass});
                                transform: scale(0.7);
                            }
                        }
                    }
                }
            }
        }
    }
}

.tnt-components.tnt-input-file input::file-selector-button {
    @extend .tnt-label-large;
    appearance: none;
    user-select: none;
    min-height: 40px;
    min-width: 40px;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 8px;
    transition: 250ms;
    position: relative;

    &.tnt-ripple {
        overflow: hidden;
    }

    &:not(.tnt-outlined) {
        border: none;
    }

    &:not(:has(.tnt-icon)) {
        padding: 0 24px;
    }

    .tnt-icon {
        vertical-align: middle;
        text-align: inherit;
        font-size: 18px;
        padding: 0 4px;
        pointer-events: none;
    }

    &:not(.tnt-filled):not(.tnt-outlined) {
        background-color: transparent;
    }

    &:has(> progress.tnt-components) {

        & > progress.tnt-components {
            position: absolute;

            &:not(.tnt-alternative) {
                padding: 0;
                margin: 0;
                height: 32px;
                width: 32px;
                top: 4px;
                left: calc(50% - 16px);
            }

            &.tnt-alternative {
                left: 0;
            }
        }
    }

    &.tnt-image-button {
        height: 40px;
        width: 40px;
        padding: 0;

        .tnt-icon {
            font-size: 24px;
        }
    }
}
