.tnt-layout {
    .tnt-header, .tnt-footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        transition: ease-in-out 250ms;
        align-items: center;
        position: fixed;
        padding: 0 8px;
        box-sizing: border-box;
        z-index: 999;
        @extend .tnt-title-large;
    }

    .tnt-header {
        height: $tnt-header-height;
        top: 0;
    }

    .tnt-footer {
        height: $tnt-footer-height;
        bottom: 0;
    }

    .tnt-body {
        height: 100vh;
        width: 100vw;
        padding: 8px;
        box-sizing: border-box;
        overflow: auto;
        transition: padding 250ms ease-in-out;
    }

    .tnt-side-nav {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        height: 100%;
        width: $tnt-side-nav-width;
        border-radius: 0 16px 16px 0;
        padding: 16px;
        box-sizing: border-box;
        transition: 250ms ease-in-out;
        overflow-y: auto;

        h1, h2, h3, h4, h5, h6 {
            @extend .tnt-title-small;
        }

        .tnt-side-nav-link, .tnt-side-nav-menu-group-button {
            align-items: center;
            display: flex;
            height: 46px;
            text-decoration: none;
            padding-left: 48px;
            @extend .tnt-label-large;

            & > span, & > span > span {
                pointer-events: none;
            }

            &:has(.tnt-icon) {
                padding-left: 16px;
            }

            .tnt-icon {
                vertical-align: middle;
                font-size: 24px;
                padding-right: 8px;
            }

            &.active {
                &.active-fg-color {
                    color: var(--active-fg-color);
                }

                &.active-bg-color {
                    background-color: var(--active-bg-color);
                }
            }
        }
    }

    .tnt-side-nav-toggle {
        padding: 0;
        margin: 8px;
        border-radius: 50%;
        color: inherit;
        transition: color 250ms ease-in-out;
    }

    .tnt-side-nav-menu-group {
        max-height: 50px;
        overflow: hidden;
        transition: max-height 250ms ease-in-out;

        .tnt-side-nav-menu-group-button {
            justify-content: space-between;
        }

        .tnt-end-icon {
            float: right;
            transition: 250ms;
            padding: 8px;
        }

        & > a.tnt-side-nav-link {
            margin-left: 16px;
            position: relative;
            border-start-start-radius: 0;
            border-end-start-radius: 0;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                height: 100%;
                top: 0;
                background-color: transparent;
                width: 4px;
                transition: background-color ease-in-out 250ms;
            }
        }

        &:has( > .tnt-side-nav-group-toggle-indicator .tnt-toggle) {
            max-height: unset;

            .tnt-side-nav-menu-group-button {
                .tnt-end-icon {
                    transform: rotateZ(180deg);
                }
            }

            a.tnt-side-nav-link:before {
                background-color: $tnt-color-outline;
            }
        }
    }


    &:has(.tnt-header):not(:has(.tnt-footer)) {
        .tnt-body {
            margin-top: $tnt-header-height;
            height: calc(100vh - $tnt-header-height);
        }
    }

    &:has(.tnt-footer):not(:has(.tnt-header)) {
        .tnt-body {
            margin-bottom: $tnt-footer-height;
            height: calc(100vh - $tnt-footer-height);
        }
    }

    &:has(.tnt-header):has(.tnt-footer) {
        .tnt-body {
            margin-top: $tnt-header-height;
            margin-bottom: $tnt-footer-height;
            height: calc(100vh - $tnt-header-height - $tnt-footer-height);
        }
    }

    @media #{$medium-and-up} {
        &:has(.tnt-side-nav:not(.tnt-side-nav-hide-on-large)) {
            .tnt-header, .tnt-footer, .tnt-body {
                padding-left: calc($tnt-side-nav-width + 8px);
            }

            &:has(.tnt-side-nav-toggle-indicator .tnt-toggle-indicator.tnt-toggle) {
                .tnt-header, .tnt-footer, .tnt-body {
                    padding-left: 8px;
                }

                .tnt-side-nav {
                    transform: translate(-105%);
                }
            }
        }

        &:has(.tnt-side-nav.tnt-side-nav-hide-on-large) {
            .tnt-header, .tnt-footer, .tnt-body {
                padding-left: 8px;
            }

            .tnt-side-nav {
                transform: translate(-105%);
            }

            &:has(.tnt-side-nav-toggle-indicator .tnt-toggle-indicator.tnt-toggle) {
                .tnt-header, .tnt-footer, .tnt-body {
                    padding-left: calc($tnt-side-nav-width + 8px);
                }

                .tnt-side-nav {
                    transform: translate(0);
                }
            }
        }
    }

    @media #{$small-and-down} {
        .tnt-side-nav {
            transform: translateX(-105%);
        }


        &:has(.tnt-side-nav-toggle-indicator .tnt-toggle-indicator.tnt-toggle) {
            .tnt-header {
                transform: translateX(calc($tnt-side-nav-width + 8px));
            }

            .tnt-side-nav {
                transform: translate(0%);
            }
        }
    }
}

.tnt-theme-select {
    display: inline-block;
}


.tnt-external-click-handler {
    height: inherit;
    max-height: inherit;
    min-height: inherit;
    width: inherit;
    max-width: inherit;
    min-width: inherit;
}