.tnt-ripple {
    overflow: hidden;
    position: relative;
}

.tnt-rippling {
    animation: ripple 500ms ease-out;
    display: block;
    position: absolute;
    border-radius: 50%;
    z-index: 1000;
}

@keyframes ripple {
    100% {
        transform: scale(2);
        opacity: 0;
    }

    0% {
        transform: scale(0.5);
        opacity: .6;
    }
}
