@use 'sass:color';

$header-height: 80px;
$cell-min-width: 80px;
$cell-height: 48px;
$time-column-width: 36px;
$minute-offset: calc($cell-height / 60);
$hour-offset: $cell-height;

.tnt-scheduler {
    margin: 8px;
    box-sizing: border-box;
    position: relative;
    height: max-content;
    overflow-x: auto;
    height: 88%;
    container-type: inline-size;
    container-name: tnt-scheduler-container;
    @extend .tnt-border-radius-2;

    .date-controls {
        display: flex;
        align-items: center;
        position: sticky;
        background-color: inherit;
        top: 0;
        left: 0;
        z-index: 7;
        padding: 4px;

        .today-button {
            padding: 0 16px;

            @media #{$small-and-down} {
                padding: 0 4px;
            }
        }
    }

    .tnt-week-view {
        display: flex;
        flex-direction: column;
        background-color: inherit;
        position: relative;

        .tnt-date-header {
            background-color: inherit;
            display: flex;
            align-items: center;
            height: $header-height;
            position: sticky;
            top: -8px;
            z-index: 7;

            &:after {
                content: '';
                width: calc(100cqw - 16px);
                min-width: ($time-column-width + 7 * $cell-min-width);
                position: absolute;
                border-bottom: 1px solid $tnt-color-outline-variant;
                bottom: 0;
                left: 0;
            }

            .tnt-time-column {
                min-width: $time-column-width;
                height: 100%;
            }

            .tnt-dates {
                display: flex;
                flex: 1 1 auto;
                height: 100%;
                user-select: none;
                background-color: inherit;

                .tnt-date-header-item {
                    width: 100%;
                    min-width: $cell-min-width;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    user-select: inherit;
                    position: relative;
                    border-left: 1px solid $tnt-color-outline-variant;
                    box-sizing: border-box;

                    .tnt-day-of-week {
                        user-select: inherit;
                    }

                    .tnt-date {
                        color: inherit;
                        font-weight: 500;
                        padding: 8px;
                        user-select: inherit;
                    }

                    &.tnt-today {
                        color: $tnt-color-on-primary;

                        .tnt-day-of-week {
                            color: $tnt-color-primary;
                        }

                        .tnt-date {
                            background-color: $tnt-color-primary;
                            border-radius: 50%;
                            aspect-ratio: 1/1;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .tnt-date-content {
            display: flex;
            background-color: inherit;
            position: relative;
            top: -12px;

            .tnt-time-column {
                display: flex;
                flex-direction: column;
                background-color: inherit;
                position: sticky;
                left: 0;
                z-index: 4;
                border-right: 1px solid $tnt-color-outline-variant;
                box-sizing: border-box;

                .tnt-time-row {
                    height: $cell-height;
                    position: relative;
                    text-align: right;
                    font-size: 10px;
                    background-color: inherit;
                    padding-right: 4px;
                    box-sizing: border-box;
                    user-select: none;
                    white-space: nowrap;

                    &:before {
                        position: absolute;
                        display: block;
                        content: "";
                        border-bottom: 1px solid $tnt-color-outline-variant;
                        width: calc(100cqw - 51px);
                        z-index: 2;
                        top: 8px;
                        left: $time-column-width;
                        pointer-events: none;
                    }
                }
            }

            .tnt-event-columns {
                display: flex;
                flex: 1 1 auto;
                user-select: none;
                background-color: inherit;
                position: relative;

                .tnt-event-column {
                    width: 100%;
                    position: relative;
                    top: 8px;
                    min-width: $cell-min-width;
                    user-select: inherit;
                    border-right: 1px solid $tnt-color-outline-variant;
                    box-sizing: border-box;

                    .tnt-event {
                        position: absolute;
                        top: calc(var(--tnt-event-start-hour) * $hour-offset + calc(var(--tnt-event-start-min) * $minute-offset));
                        box-sizing: border-box;
                        padding: 4px;
                        bottom: calc(calc(24 * $cell-height) - calc(var(--tnt-event-end-hour) * $hour-offset + calc(var(--tnt-event-end-min) * $minute-offset)));
                        background-color: var(--tnt-event-bg-color);
                        color: var(--tnt-event-fg-color);
                        z-index: 6;
                        width: 90%;
                        left: 0;
                        overflow: hidden;
                        padding: 8px;
                        @extend .tnt-border-radius-2;

                        &:not(.tnt-placeholder-event) {
                            box-shadow: var(--tnt-color-on-surface) 0px 0px 1px 1px inset;
                        }

                        &.tnt-dragging:active {
                            cursor: grabbing;
                        }

                        &.tnt-header-overlap {
                            width: calc(90% / var(--tnt-event-header-overlaps));
                            left: calc(12px * var(--tnt-event-overlaps));
                        }

                        .tnt-event-title {
                            line-height: 4px;
                            white-space: nowrap;
                        }

                        .tnt-event-time {
                            white-space: nowrap;
                        }

                        .tnt-event-description {
                            white-space: pre-wrap;
                        }
                    }

                    .tnt-placeholder-event {
                        pointer-events: none;
                        padding: 4px;
                        @extend .tnt-elevation-2;
                    }
                }
            }
        }
    }

    &:has(.date-controls) {
        .tnt-week-view .tnt-date-header {
            top: 72px;
        }
    }
}
