.tnt-skeleton {
    margin: 8px;
    height: 80px;

    &.tnt-animated {
        background: linear-gradient(to right, var(--bg-color) 33%, color-mix(in srgb, var(--bg-color) 60%, var(--tnt-color-background)) 50%, var(--bg-color) 66%);
        background-size: 300%;
        animation: tnt-skeleton-animation 1.5s infinite ease-in-out;
    }
}

@keyframes tnt-skeleton-animation {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}