div.tnt-components.tnt-toast-container {
    position: fixed;
    bottom: 80px;
    right: 32px;
    width: 320px;
    z-index: 1001;
    box-sizing: border-box;


    .tnt-toast {
        min-height: 90px;
        box-sizing: border-box;
        margin-top: 8px;
        animation: snackbarSlideIn 200ms ease-in-out;
        transition: transform 250ms ease-in-out, opacity 250ms linear;
        position: relative;

        &.tnt-closing {
            transform: translateX(200%);
            opacity: 0;
        }

        .tnt-toast-header {
            position: relative;
            padding: 8px;
            margin: 0;
            border-bottom: 1px solid $tnt-color-outline;
            box-sizing: border-box;
            @extend .tnt-title-small;

            h3 {
                padding: 0;
                margin: 0;
                display: inline;
            }

            button.tnt-components {
                float: right;
                height: unset;
                width: unset;
                padding: 0;
                margin: 0;
                min-height: 0;
                min-width: 0;
            }
        }

        .tnt-toast-body {
            padding: 4px;
            box-sizing: border-box;
            @extend .tnt-body-small;
        }

        .tnt-toast-progress {
            height: 4px;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            animation: snackbarProgress var(--timeout) linear forwards;
        }
    }
}

@keyframes snackbarProgress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes snackbarSlideIn {
    0% {
        transform: translateX(160px);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
