@use "sass:color";
@use "sass:map";

$tnt-default-color-source: var(--tnt-default-color-source);
/* primary */
$tnt-color-primary0: var(--tnt-color-primary0);
$tnt-color-primary10: var(--tnt-color-primary10);
$tnt-color-primary20: var(--tnt-color-primary20);
$tnt-color-primary25: var(--tnt-color-primary25);
$tnt-color-primary30: var(--tnt-color-primary30);
$tnt-color-primary35: var(--tnt-color-primary35);
$tnt-color-primary40: var(--tnt-color-primary40);
$tnt-color-primary50: var(--tnt-color-primary50);
$tnt-color-primary60: var(--tnt-color-primary60);
$tnt-color-primary70: var(--tnt-color-primary70);
$tnt-color-primary80: var(--tnt-color-primary80);
$tnt-color-primary90: var(--tnt-color-primary90);
$tnt-color-primary95: var(--tnt-color-primary95);
$tnt-color-primary98: var(--tnt-color-primary98);
$tnt-color-primary99: var(--tnt-color-primary99);
$tnt-color-primary100: var(--tnt-color-primary100);
/* secondary */
$tnt-color-secondary0: var(--tnt-color-secondary0);
$tnt-color-secondary10: var(--tnt-color-secondary10);
$tnt-color-secondary20: var(--tnt-color-secondary20);
$tnt-color-secondary25: var(--tnt-color-secondary25);
$tnt-color-secondary30: var(--tnt-color-secondary30);
$tnt-color-secondary35: var(--tnt-color-secondary35);
$tnt-color-secondary40: var(--tnt-color-secondary40);
$tnt-color-secondary50: var(--tnt-color-secondary50);
$tnt-color-secondary60: var(--tnt-color-secondary60);
$tnt-color-secondary70: var(--tnt-color-secondary70);
$tnt-color-secondary80: var(--tnt-color-secondary80);
$tnt-color-secondary90: var(--tnt-color-secondary90);
$tnt-color-secondary95: var(--tnt-color-secondary95);
$tnt-color-secondary98: var(--tnt-color-secondary98);
$tnt-color-secondary99: var(--tnt-color-secondary99);
$tnt-color-secondary100: var(--tnt-color-secondary100);
/* tertiary */
$tnt-color-tertiary0: var(--tnt-color-tertiary0);
$tnt-color-tertiary10: var(--tnt-color-tertiary10);
$tnt-color-tertiary20: var(--tnt-color-tertiary20);
$tnt-color-tertiary25: var(--tnt-color-tertiary25);
$tnt-color-tertiary30: var(--tnt-color-tertiary30);
$tnt-color-tertiary35: var(--tnt-color-tertiary35);
$tnt-color-tertiary40: var(--tnt-color-tertiary40);
$tnt-color-tertiary50: var(--tnt-color-tertiary50);
$tnt-color-tertiary60: var(--tnt-color-tertiary60);
$tnt-color-tertiary70: var(--tnt-color-tertiary70);
$tnt-color-tertiary80: var(--tnt-color-tertiary80);
$tnt-color-tertiary90: var(--tnt-color-tertiary90);
$tnt-color-tertiary95: var(--tnt-color-tertiary95);
$tnt-color-tertiary98: var(--tnt-color-tertiary98);
$tnt-color-tertiary99: var(--tnt-color-tertiary99);
$tnt-color-tertiary100: var(--tnt-color-tertiary100);
/* neutral */
$tnt-color-neutral0: var(--tnt-color-neutral0);
$tnt-color-neutral10: var(--tnt-color-neutral10);
$tnt-color-neutral20: var(--tnt-color-neutral20);
$tnt-color-neutral25: var(--tnt-color-neutral25);
$tnt-color-neutral30: var(--tnt-color-neutral30);
$tnt-color-neutral35: var(--tnt-color-neutral35);
$tnt-color-neutral40: var(--tnt-color-neutral40);
$tnt-color-neutral50: var(--tnt-color-neutral50);
$tnt-color-neutral60: var(--tnt-color-neutral60);
$tnt-color-neutral70: var(--tnt-color-neutral70);
$tnt-color-neutral80: var(--tnt-color-neutral80);
$tnt-color-neutral90: var(--tnt-color-neutral90);
$tnt-color-neutral95: var(--tnt-color-neutral95);
$tnt-color-neutral98: var(--tnt-color-neutral98);
$tnt-color-neutral99: var(--tnt-color-neutral99);
$tnt-color-neutral100: var(--tnt-color-neutral100);
/* neutral-variant */
$tnt-color-neutral-variant0: var(--tnt-color-neutral-variant0);
$tnt-color-neutral-variant10: var(--tnt-color-neutral-variant10);
$tnt-color-neutral-variant15: var(--tnt-color-neutral-variant15);
$tnt-color-neutral-variant20: var(--tnt-color-neutral-variant20);
$tnt-color-neutral-variant25: var(--tnt-color-neutral-variant25);
$tnt-color-neutral-variant30: var(--tnt-color-neutral-variant30);
$tnt-color-neutral-variant35: var(--tnt-color-neutral-variant35);
$tnt-color-neutral-variant40: var(--tnt-color-neutral-variant40);
$tnt-color-neutral-variant50: var(--tnt-color-neutral-variant50);
$tnt-color-neutral-variant60: var(--tnt-color-neutral-variant60);
$tnt-color-neutral-variant70: var(--tnt-color-neutral-variant70);
$tnt-color-neutral-variant80: var(--tnt-color-neutral-variant80);
$tnt-color-neutral-variant90: var(--tnt-color-neutral-variant90);
$tnt-color-neutral-variant95: var(--tnt-color-neutral-variant95);
$tnt-color-neutral-variant98: var(--tnt-color-neutral-variant98);
$tnt-color-neutral-variant99: var(--tnt-color-neutral-variant99);
$tnt-color-neutral-variant100: var(--tnt-color-neutral-variant100);
/* error */
$tnt-color-error0: var(--tnt-color-error0);
$tnt-color-error10: var(--tnt-color-error10);
$tnt-color-error20: var(--tnt-color-error20);
$tnt-color-error25: var(--tnt-color-error25);
$tnt-color-error30: var(--tnt-color-error30);
$tnt-color-error35: var(--tnt-color-error35);
$tnt-color-error40: var(--tnt-color-error40);
$tnt-color-error50: var(--tnt-color-error50);
$tnt-color-error60: var(--tnt-color-error60);
$tnt-color-error70: var(--tnt-color-error70);
$tnt-color-error80: var(--tnt-color-error80);
$tnt-color-error90: var(--tnt-color-error90);
$tnt-color-error95: var(--tnt-color-error95);
$tnt-color-error98: var(--tnt-color-error98);
$tnt-color-error99: var(--tnt-color-error99);
$tnt-color-error100: var(--tnt-color-error100);
$tnt-color-warning-seed: var(--tnt-color-warning-seed);
$tnt-color-success-seed: var(--tnt-color-success-seed);
$tnt-color-info-seed: var(--tnt-color-info-seed);
/* light */
$tnt-color-primary-light: var(--tnt-color-primary-light);
$tnt-color-on-primary-light: var(--tnt-color-on-primary-light);
$tnt-color-primary-container-light: var(--tnt-color-primary-container-light);
$tnt-color-on-primary-container-light: var(--tnt-color-on-primary-container-light);
$tnt-color-secondary-light: var(--tnt-color-secondary-light);
$tnt-color-on-secondary-light: var(--tnt-color-on-secondary-light);
$tnt-color-secondary-container-light: var(--tnt-color-secondary-container-light);
$tnt-color-on-secondary-container-light: var(--tnt-color-on-secondary-container-light);
$tnt-color-tertiary-light: var(--tnt-color-tertiary-light);
$tnt-color-on-tertiary-light: var(--tnt-color-on-tertiary-light);
$tnt-color-tertiary-container-light: var(--tnt-color-tertiary-container-light);
$tnt-color-on-tertiary-container-light: var(--tnt-color-on-tertiary-container-light);
$tnt-color-error-light: var(--tnt-color-error-light);
$tnt-color-error-container-light: var(--tnt-color-error-container-light);
$tnt-color-on-error-light: var(--tnt-color-on-error-light);
$tnt-color-on-error-container-light: var(--tnt-color-on-error-container-light);
$tnt-color-background-light: var(--tnt-color-background-light);
$tnt-color-on-background-light: var(--tnt-color-on-background-light);
$tnt-color-surface-light: var(--tnt-color-surface-light);
$tnt-color-on-surface-light: var(--tnt-color-on-surface-light);
$tnt-color-neutral-variant95: var(--tnt-color-surface-container-low-light);
$tnt-color-neutral-variant15: var(--tnt-color-on-surface-container-low-light);
$tnt-color-surface-variant-light: var(--tnt-color-surface-variant-light);
$tnt-color-on-surface-variant-light: var(--tnt-color-on-surface-variant-light);
$tnt-color-outline-light: var(--tnt-color-outline-light);
$tnt-color-inverse-on-surface-light: var(--tnt-color-inverse-on-surface-light);
$tnt-color-inverse-surface-light: var(--tnt-color-inverse-surface-light);
$tnt-color-inverse-primary-light: var(--tnt-color-inverse-primary-light);
$tnt-color-shadow-light: var(--tnt-color-shadow-light);
$tnt-color-surface-tint-light: var(--tnt-color-surface-tint-light);
$tnt-color-outline-variant-light: var(--tnt-color-outline-variant-light);
$tnt-color-scrim-light: var(--tnt-color-scrim-light);
$tnt-color-warning-light: var(--tnt-color-warning-light);
$tnt-color-on-warning-light: var(--tnt-color-on-warning-light);
$tnt-color-warning-container-light: var(--tnt-color-warning-container-light);
$tnt-color-on-warning-container-light: var(--tnt-color-on-warning-container-light);
$tnt-color-success-light: var(--tnt-color-success-light);
$tnt-color-on-success-light: var(--tnt-color-on-success-light);
$tnt-color-success-container-light: var(--tnt-color-success-container-light);
$tnt-color-on-success-container-light: var(--tnt-color-on-success-container-light);
$tnt-color-info-light: var(--tnt-color-info-light);
$tnt-color-on-info-light: var(--tnt-color-on-info-light);
$tnt-color-info-container-light: var(--tnt-color-info-container-light);
$tnt-color-on-info-container-light: var(--tnt-color-on-info-container-light);
/* dark */
$tnt-color-primary-dark: var(--tnt-color-primary-dark);
$tnt-color-on-primary-dark: var(--tnt-color-on-primary-dark);
$tnt-color-primary-container-dark: var(--tnt-color-primary-container-dark);
$tnt-color-on-primary-container-dark: var(--tnt-color-on-primary-container-dark);
$tnt-color-secondary-dark: var(--tnt-color-secondary-dark);
$tnt-color-on-secondary-dark: var(--tnt-color-on-secondary-dark);
$tnt-color-secondary-container-dark: var(--tnt-color-secondary-container-dark);
$tnt-color-on-secondary-container-dark: var(--tnt-color-on-secondary-container-dark);
$tnt-color-tertiary-dark: var(--tnt-color-tertiary-dark);
$tnt-color-on-tertiary-dark: var(--tnt-color-on-tertiary-dark);
$tnt-color-tertiary-container-dark: var(--tnt-color-tertiary-container-dark);
$tnt-color-on-tertiary-container-dark: var(--tnt-color-on-tertiary-container-dark);
$tnt-color-error-dark: var(--tnt-color-error-dark);
$tnt-color-error-container-dark: var(--tnt-color-error-container-dark);
$tnt-color-on-error-dark: var(--tnt-color-on-error-dark);
$tnt-color-on-error-container-dark: var(--tnt-color-on-error-container-dark);
$tnt-color-background-dark: var(--tnt-color-background-dark);
$tnt-color-on-background-dark: var(--tnt-color-on-background-dark);
$tnt-color-surface-dark: var(--tnt-color-surface-dark);
$tnt-color-on-surface-dark: var(--tnt-color-on-surface-dark);
$tnt-color-neutral-variant15: var(--tnt-color-surface-container-low-dark);
$tnt-color-neutral-variant95: var(--tnt-color-on-surface-container-low-dark);
$tnt-color-surface-variant-dark: var(--tnt-color-surface-variant-dark);
$tnt-color-on-surface-variant-dark: var(--tnt-color-on-surface-variant-dark);
$tnt-color-outline-dark: var(--tnt-color-outline-dark);
$tnt-color-inverse-on-surface-dark: var(--tnt-color-inverse-on-surface-dark);
$tnt-color-inverse-surface-dark: var(--tnt-color-inverse-surface-dark);
$tnt-color-inverse-primary-dark: var(--tnt-color-inverse-primary-dark);
$tnt-color-shadow-dark: var(--tnt-color-shadow-dark);
$tnt-color-surface-tint-dark: var(--tnt-color-surface-tint-dark);
$tnt-color-outline-variant-dark: var(--tnt-color-outline-variant-dark);
$tnt-color-scrim-dark: var(--tnt-color-scrim-dark);
$tnt-color-warning-dark: var(--tnt-color-warning-dark);
$tnt-color-on-warning-dark: var(--tnt-color-on-warning-dark);
$tnt-color-warning-container-dark: var(--tnt-color-warning-container-dark);
$tnt-color-on-warning-container-dark: var(--tnt-color-on-warning-container-dark);
$tnt-color-success-dark: var(--tnt-color-success-dark);
$tnt-color-on-success-dark: var(--tnt-color-on-success-dark);
$tnt-color-success-container-dark: var(--tnt-color-success-container-dark);
$tnt-color-on-success-container-dark: var(--tnt-color-on-success-container-dark);
$tnt-color-info-dark: var(--tnt-color-info-dark);
$tnt-color-on-info-dark: var(--tnt-color-on-info-dark);
$tnt-color-info-container-dark: var(--tnt-color-info-container-dark);
$tnt-color-on-info-container-dark: var(--tnt-color-on-info-container-dark);

$tnt-color-primary: var(--tnt-color-primary);
$tnt-color-on-primary: var(--tnt-color-on-primary);
$tnt-color-primary-container: var(--tnt-color-primary-container);
$tnt-color-on-primary-container: var(--tnt-color-on-primary-container);
$tnt-color-secondary: var(--tnt-color-secondary);
$tnt-color-on-secondary: var(--tnt-color-on-secondary);
$tnt-color-secondary-container: var(--tnt-color-secondary-container);
$tnt-color-on-secondary-container: var(--tnt-color-on-secondary-container);
$tnt-color-tertiary: var(--tnt-color-tertiary);
$tnt-color-on-tertiary: var(--tnt-color-on-tertiary);
$tnt-color-tertiary-container: var(--tnt-color-tertiary-container);
$tnt-color-on-tertiary-container: var(--tnt-color-on-tertiary-container);
$tnt-color-error: var(--tnt-color-error);
$tnt-color-on-error: var(--tnt-color-on-error);
$tnt-color-error-container: var(--tnt-color-error-container);
$tnt-color-on-error-container: var(--tnt-color-on-error-container);
$tnt-color-outline: var(--tnt-color-outline);
$tnt-color-background: var(--tnt-color-background);
$tnt-color-on-background: var(--tnt-color-on-background);
$tnt-color-surface: var(--tnt-color-surface);
$tnt-color-on-surface: var(--tnt-color-on-surface);
$tnt-color-surface-variant: var(--tnt-color-surface-variant);
$tnt-color-on-surface-variant: var(--tnt-color-on-surface-variant);
$tnt-color-surface-container-highest: var(--tnt-color-surface-container-highest);
$tnt-color-surface-container-high: var(--tnt-color-surface-container-high);
$tnt-color-surface-container: var(--tnt-color-surface-container);
$tnt-color-surface-container-low: var(--tnt-color-surface-container-low);
$tnt-color-surface-container-lowest: var(--tnt-color-surface-container-lowest);
$tnt-color-inverse-surface: var(--tnt-color-inverse-surface);
$tnt-color-inverse-on-surface: var(--tnt-color-inverse-on-surface);
$tnt-color-inverse-primary: var(--tnt-color-inverse-primary);
$tnt-color-shadow: var(--tnt-color-shadow);
$tnt-color-surface-tint: var(--tnt-color-surface-tint);
$tnt-color-outline-variant: var(--tnt-color-outline-variant);
$tnt-color-scrim: var(--tnt-color-scrim);
$tnt-color-warning: var(--tnt-color-warning);
$tnt-color-on-warning: var(--tnt-color-on-warning);
$tnt-color-warning-container: var(--tnt-color-warning-container);
$tnt-color-on-warning-container: var(--tnt-color-on-warning-container);
$tnt-color-success: var(--tnt-color-success);
$tnt-color-on-success: var(--tnt-color-on-success);
$tnt-color-success-container: var(--tnt-color-success-container);
$tnt-color-on-success-container: var(--tnt-color-on-success-container);
$tnt-color-info: var(--tnt-color-info);
$tnt-color-on-info: var(--tnt-color-on-info);
$tnt-color-info-container: var(--tnt-color-info-container);
$tnt-color-on-info-container: var(--tnt-color-on-info-container);

$tnt-side-nav-width: 250px;
$tnt-header-height: 64px;
$tnt-footer-height: 80px;

.tnt-state-layers {
    &:disabled, &[disabled] {
        opacity: 0.4;
        cursor: not-allowed;
    }

    &:not(:disabled) &:not([disabled]) {
        &:hover {
            opacity: 0.92;
        }

        &:focus, &:active {
            opacity: 0.9;
        }
    }
}

@mixin enable-ripple($ripple-color: color.adjust(white, $alpha: -0.3)) {
    position: relative;
    overflow: hidden;

    span.tnt-ripple {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: ripple-animation 600ms linear;
        background-color: $ripple-color;
        opacity: 0.3;
    }
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@mixin tnt-z-depth($height, $important: false) {
    $shadows: ( //
    0: none, //
    1: 0px 1px 2px $tnt-color-shadow, //
    2: 0px 2px 3px $tnt-color-shadow, //
    3: 0px 4px 8px 3px $tnt-color-shadow, //
    4: 0px 6px 10px 4px $tnt-color-shadow, //
    5: 0px 8px 12px 6px $tnt-color-shadow, //
    6: 0px 12px 16px 6px $tnt-color-shadow, //
    7: 0px 16px 20px 6px $tnt-color-shadow, //
    8: 0px 20px 24px 6px $tnt-color-shadow, //
    9: 0px 24px 28px 6px $tnt-color-shadow, //
    10: 0px 28px 32px 6px $tnt-color-shadow //
    );

    @if $important == true {
        box-shadow: map.get($shadows, $height) !important;
    }
    @else {
        box-shadow: map.get($shadows, $height);
    }
}

@mixin tnt-border-radius($radius) {
    border-radius: ($radius * 4px);
}

@mixin tnt-clickable($property, $color, $mix-color) {
    &:not(.disabled) {
        cursor: pointer;
    }

    &:hover {
        #{$property}: color-mix(in srgb, $color 10%, $mix-color);
    }

    &:active {
        #{$property}: color-mix(in srgb, $color 20%, $mix-color);
    }
}