$tnt-default-color-source: #5B2C93;
/* primary */
$tnt-color-primary0: #000000;
$tnt-color-primary10: #2a0054;
$tnt-color-primary20: #440e7c;
$tnt-color-primary25: #501f87;
$tnt-color-primary30: #5c2d94;
$tnt-color-primary35: #683aa0;
$tnt-color-primary40: #7547ad;
$tnt-color-primary50: #8f60c9;
$tnt-color-primary60: #a97ae5;
$tnt-color-primary70: #c496ff;
$tnt-color-primary80: #d9b9ff;
$tnt-color-primary90: #eedbff;
$tnt-color-primary95: #f8edff;
$tnt-color-primary98: #fff7ff;
$tnt-color-primary99: #fffbff;
$tnt-color-primary100: #ffffff;
/* secondary */
$tnt-color-secondary0: #000000;
$tnt-color-secondary10: #241a00;
$tnt-color-secondary20: #3d2e00;
$tnt-color-secondary25: #4b3900;
$tnt-color-secondary30: #584400;
$tnt-color-secondary35: #674f00;
$tnt-color-secondary40: #755b00;
$tnt-color-secondary50: #937300;
$tnt-color-secondary60: #b28c00;
$tnt-color-secondary70: #d2a500;
$tnt-color-secondary80: #f3c000;
$tnt-color-secondary90: #ffdf91;
$tnt-color-secondary95: #ffefcf;
$tnt-color-secondary98: #fff8f1;
$tnt-color-secondary99: #fffbff;
$tnt-color-secondary100: #ffffff;
/* tertiary */
$tnt-color-tertiary0: #000000;
$tnt-color-tertiary10: #001a41;
$tnt-color-tertiary20: #002e69;
$tnt-color-tertiary25: #00397e;
$tnt-color-tertiary30: #004494;
$tnt-color-tertiary35: #004fab;
$tnt-color-tertiary40: #005ac1;
$tnt-color-tertiary50: #2974e3;
$tnt-color-tertiary60: #4c8eff;
$tnt-color-tertiary70: #80aaff;
$tnt-color-tertiary80: #adc6ff;
$tnt-color-tertiary90: #d8e2ff;
$tnt-color-tertiary95: #edf0ff;
$tnt-color-tertiary98: #f9f9ff;
$tnt-color-tertiary99: #fefbff;
$tnt-color-tertiary100: #ffffff;
/* neutral */
$tnt-color-neutral0: #000000;
$tnt-color-neutral10: #1d1b1e;
$tnt-color-neutral20: #322f33;
$tnt-color-neutral25: #3d3a3e;
$tnt-color-neutral30: #49464a;
$tnt-color-neutral35: #555155;
$tnt-color-neutral40: #615d61;
$tnt-color-neutral50: #7a767a;
$tnt-color-neutral60: #948f94;
$tnt-color-neutral70: #afaaae;
$tnt-color-neutral80: #cac5c9;
$tnt-color-neutral90: #e7e1e5;
$tnt-color-neutral95: #f5eff4;
$tnt-color-neutral98: #fef7fc;
$tnt-color-neutral99: #fffbff;
$tnt-color-neutral100: #ffffff;
/* neutral-variant */
$tnt-color-neutral-variant0: #000000;
$tnt-color-neutral-variant10: #1e1a22;
$tnt-color-neutral-variant15: #28242c;
$tnt-color-neutral-variant20: #332f37;
$tnt-color-neutral-variant25: #3e3a42;
$tnt-color-neutral-variant30: #4a454e;
$tnt-color-neutral-variant35: #56505a;
$tnt-color-neutral-variant40: #625c66;
$tnt-color-neutral-variant50: #7b757f;
$tnt-color-neutral-variant60: #958e99;
$tnt-color-neutral-variant70: #b0a9b3;
$tnt-color-neutral-variant80: #ccc4cf;
$tnt-color-neutral-variant90: #e8e0eb;
$tnt-color-neutral-variant95: #f7eef9;
$tnt-color-neutral-variant98: #fff7ff;
$tnt-color-neutral-variant99: #fffbff;
$tnt-color-neutral-variant100: #ffffff;
/* error */
$tnt-color-error0: #000000;
$tnt-color-error10: #410002;
$tnt-color-error20: #690005;
$tnt-color-error25: #7e0007;
$tnt-color-error30: #93000a;
$tnt-color-error35: #a80710;
$tnt-color-error40: #ba1a1a;
$tnt-color-error50: #de3730;
$tnt-color-error60: #ff5449;
$tnt-color-error70: #ff897d;
$tnt-color-error80: #ffb4ab;
$tnt-color-error90: #ffdad6;
$tnt-color-error95: #ffedea;
$tnt-color-error98: #fff8f7;
$tnt-color-error99: #fffbff;
$tnt-color-error100: #ffffff;

$tnt-color-warning-seed: #FFF9BD00;
$tnt-color-success-seed: #FF00D868;
$tnt-color-info-seed: #FF41B7FF;

/* light */
$tnt-color-primary-light: #7547ad;
$tnt-color-on-primary-light: #ffffff;
$tnt-color-primary-container-light: #eedbff;
$tnt-color-on-primary-container-light: #2a0054;
$tnt-color-secondary-light: #755b00;
$tnt-color-on-secondary-light: #ffffff;
$tnt-color-secondary-container-light: #ffdf91;
$tnt-color-on-secondary-container-light: #241a00;
$tnt-color-tertiary-light: #005ac1;
$tnt-color-on-tertiary-light: #ffffff;
$tnt-color-tertiary-container-light: #d8e2ff;
$tnt-color-on-tertiary-container-light: #001a41;
$tnt-color-error-light: #ba1a1a;
$tnt-color-error-container-light: #ffdad6;
$tnt-color-on-error-light: #ffffff;
$tnt-color-on-error-container-light: #410002;
$tnt-color-background-light: #fffbff;
$tnt-color-on-background-light: #1d1b1e;
$tnt-color-surface-light: #fffbff;
$tnt-color-on-surface-light: #1d1b1e;
$tnt-color-surface-container-low-light: $tnt-color-neutral-variant95;
$tnt-color-on-surface-container-low-light: $tnt-color-neutral-variant15;
$tnt-color-surface-variant-light: #e8e0eb;
$tnt-color-on-surface-variant-light: #4a454e;
$tnt-color-outline-light: #7b757f;
$tnt-color-inverse-on-surface-light: #f5eff4;
$tnt-color-inverse-surface-light: #322f33;
$tnt-color-inverse-primary-light: #d9b9ff;
$tnt-color-shadow-light: #000000;
$tnt-color-surface-tint-light: #7547ad;
$tnt-color-outline-variant-light: #ccc4cf;
$tnt-color-scrim-light: #000000;
$tnt-color-warning-light: #845400;
$tnt-color-on-warning-light: #ffffff;
$tnt-color-warning-container-light: #ffddb6;
$tnt-color-on-warning-container-light: #2a1800;
$tnt-color-success-light: #006c4c;
$tnt-color-on-success-light: #ffffff;
$tnt-color-success-container-light: #54febf;
$tnt-color-on-success-container-light: #002115;
$tnt-color-info-light: #0d60a8;
$tnt-color-on-info-light: #ffffff;
$tnt-color-info-container-light: #d3e3ff;
$tnt-color-on-info-container-light: #001c39;
/* dark */
$tnt-color-primary-dark: #d9b9ff;
$tnt-color-on-primary-dark: #440e7c;
$tnt-color-primary-container-dark: #5c2d94;
$tnt-color-on-primary-container-dark: #eedbff;
$tnt-color-secondary-dark: #f3c000;
$tnt-color-on-secondary-dark: #3d2e00;
$tnt-color-secondary-container-dark: #584400;
$tnt-color-on-secondary-container-dark: #ffdf91;
$tnt-color-tertiary-dark: #adc6ff;
$tnt-color-on-tertiary-dark: #002e69;
$tnt-color-tertiary-container-dark: #004494;
$tnt-color-on-tertiary-container-dark: #d8e2ff;
$tnt-color-error-dark: #ffb4ab;
$tnt-color-error-container-dark: #93000a;
$tnt-color-on-error-dark: #690005;
$tnt-color-on-error-container-dark: #ffdad6;
$tnt-color-background-dark: #1d1b1e;
$tnt-color-on-background-dark: #e7e1e5;
$tnt-color-surface-dark: #1d1b1e;
$tnt-color-on-surface-dark: #e7e1e5;
$tnt-color-surface-container-low-dark: $tnt-color-neutral-variant15;
$tnt-color-on-surface-container-low-dark: $tnt-color-neutral-variant95;
$tnt-color-surface-variant-dark: #4a454e;
$tnt-color-on-surface-variant-dark: #ccc4cf;
$tnt-color-outline-dark: #958e99;
$tnt-color-inverse-on-surface-dark: #1d1b1e;
$tnt-color-inverse-surface-dark: #e7e1e5;
$tnt-color-inverse-primary-dark: #7547ad;
$tnt-color-shadow-dark: #000000;
$tnt-color-surface-tint-dark: #d9b9ff;
$tnt-color-outline-variant-dark: #4a454e;
$tnt-color-scrim-dark: #000000;
$tnt-color-warning-dark: #ffb95a;
$tnt-color-on-warning-dark: #462a00;
$tnt-color-warning-container-dark: #643f00;
$tnt-color-on-warning-container-dark: #ffddb6;
$tnt-color-success-dark: #28e0a4;
$tnt-color-on-success-dark: #003826;
$tnt-color-success-container-dark: #005139;
$tnt-color-on-success-container-dark: #54febf;
$tnt-color-info-dark: #a3c9ff;
$tnt-color-on-info-dark: #00315c;
$tnt-color-info-container-dark: #004883;
$tnt-color-on-info-container-dark: #d3e3ff;