// TnT-Colors

$tnt-color-primary: #6cba7c !default;
$tnt-color-primary-light: lighten($tnt-color-primary, 12%) !default;
$tnt-color-primary-dark: darken($tnt-color-primary, 12%) !default;

$tnt-color-secondary: #829682 !default;
$tnt-color-success: #bdeaf4 !default;
$tnt-color-error: #ba1a1a !default;
$tnt-color-link: #39656d !default;

// TnT-Buttons

// Shared styles
$tnt-button-border: none !default;
$tnt-button-background-focus: lighten($tnt-color-secondary, 4%) !default;
$tnt-button-font-size: 14px !default;
$tnt-button-icon-font-size: 1.3rem !default;
$tnt-button-height: 36px !default;
$tnt-button-padding: 0 16px !default;
$tnt-button-radius: 2px !default;

// Disabled styles
$tnt-button-disabled-background: #DFDFDF !default;
$tnt-button-disabled-color: #9F9F9F !default;

// Raised buttons
$tnt-button-raised-background: $tnt-color-secondary !default;
$tnt-button-raised-background-hover: lighten($tnt-button-raised-background, 5%) !default;
$tnt-button-raised-color: #fff !default;

// Large buttons
$tnt-button-large-font-size: 15px !default;
$tnt-button-large-icon-font-size: 1.6rem !default;
$tnt-button-large-height: $tnt-button-height * 1.5 !default;
$tnt-button-floating-large-size: 56px !default;

// Small buttons
$tnt-button-small-font-size: 13px !default;
$tnt-button-small-icon-font-size: 1.2rem !default;
$tnt-button-small-height: $tnt-button-height * .9 !default;
$tnt-button-floating-small-size: $tnt-button-height * .9 !default;

// Flat buttons
$tnt-button-flat-color: #343434 !default;
$tnt-button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$tnt-button-floating-background: $tnt-color-secondary !default;
$tnt-button-floating-background-hover: $tnt-button-floating-background !default;
$tnt-button-floating-color: #fff !default;
$tnt-button-floating-size: 40px !default;
$tnt-button-floating-radius: 50% !default;

// TnT-SideBar
$tnt-sidebar-width: 250px !default;
$tnt-sidebar-font-size: 14px !default;
$tnt-sidebar-font-color: rgba(0,0,0,.87) !default;
$tnt-sidebar-bg-color: #fff !default;
$tnt-sidebar-padding: 1.2rem !default;
$tnt-sidebar-item-height: 48px !default;
$tnt-sidebar-line-height: $tnt-sidebar-item-height !default;

// TnT-Header
$tnt-header-height: 2.5rem !default;