@import '_functions.scss';
@import '_default_colors_tokens.scss';
@import '_default_typeography.scss';
$tnt-color-primary: $tnt-color-primary-light;
$tnt-color-on-primary: $tnt-color-on-primary-light;
$tnt-color-primary-container: $tnt-color-primary-container-light;
$tnt-color-on-primary-container: $tnt-color-on-primary-container-light;
$tnt-color-secondary: $tnt-color-secondary-light;
$tnt-color-on-secondary: $tnt-color-on-secondary-light;
$tnt-color-secondary-container: $tnt-color-secondary-container-light;
$tnt-color-on-secondary-container: $tnt-color-on-secondary-container-light;
$tnt-color-tertiary: $tnt-color-tertiary-light;
$tnt-color-on-tertiary: $tnt-color-on-tertiary-light;
$tnt-color-tertiary-container: $tnt-color-tertiary-container-light;
$tnt-color-on-tertiary-container: $tnt-color-on-tertiary-container-light;
$tnt-color-error: $tnt-color-error-light;
$tnt-color-on-error: $tnt-color-on-error-light;
$tnt-color-error-container: $tnt-color-error-container-light;
$tnt-color-on-error-container: $tnt-color-on-error-container-light;
$tnt-color-outline: $tnt-color-outline-light;
$tnt-color-background: $tnt-color-background-light;
$tnt-color-on-background: $tnt-color-on-background-light;
$tnt-color-surface: $tnt-color-surface-light;
$tnt-color-on-surface: $tnt-color-on-surface-light;
$tnt-color-surface-variant: $tnt-color-surface-variant-light;
$tnt-color-on-surface-variant: $tnt-color-on-surface-variant-light;
$tnt-color-inverse-surface: $tnt-color-inverse-surface-light;
$tnt-color-inverse-on-surface: $tnt-color-inverse-on-surface-light;
$tnt-color-inverse-primary: $tnt-color-inverse-primary-light;
$tnt-color-shadow: $tnt-color-shadow-light;
$tnt-color-surface-tint: $tnt-color-surface-tint-light;
$tnt-color-outline-variant: $tnt-color-outline-variant-light;
$tnt-color-scrim: $tnt-color-scrim-light;
$tnt-color-warning: $tnt-color-warning-light;
$tnt-color-on-warning: $tnt-color-on-warning-light;
$tnt-color-warning-container: $tnt-color-warning-container-light;
$tnt-color-on-warning-container: $tnt-color-on-warning-container-light;
$tnt-color-success: $tnt-color-success-light;
$tnt-color-on-success: $tnt-color-on-success-light;
$tnt-color-success-container: $tnt-color-success-container-light;
$tnt-color-on-success-container: $tnt-color-on-success-container-light;
$tnt-color-info: $tnt-color-info-light;
$tnt-color-on-info: $tnt-color-on-info-light;
$tnt-color-info-container: $tnt-color-info-container-light;
$tnt-color-on-info-container: $tnt-color-on-info-container-light;
$tnt-color-surface-container-low: $tnt-color-surface-container-low-light;
$tnt-color-on-surface-container-low: $tnt-color-on-surface-container-low-light;