@use "sass:color";

@mixin colorizeTransparent($background, $hover: false, $active: false, $additionalScope: false) {
    background-color: transparent;
    $base-color: #FFF;

    @if(color.lightness($background) > 50) {
        $base-color: #000
    }

    @if($hover) {
        @if($additionalScope) {
            &:hover#{$additionalScope} {
                background-color: color.adjust($base-color, $alpha: -.9);
            }
        }
        @else {
            &:hover {
                background-color: color.adjust($base-color, $alpha: -.9);
            }
        }
    }

    @if($active) {
        @if($additionalScope) {
            &:active#{$additionalScope} {
                background-color: color.adjust($base-color, $alpha: -.8);
            }
        }
        @else {
            &:active {
                background-color: color.adjust($base-color, $alpha: -.8);
            }
        }
    }
}

@mixin colorize($color, $property, $hover: false, $active: false) {
    #{$property}: $color;

    $adjustmentPercent: 10%;

    @if(color.lightness($color) > 50) {
        $adjustmentPercent: $adjustmentPercent * -1;
    }

    @if($hover) {
        &:hover {
            #{$property}: color.adjust($color, $lightness: $adjustmentPercent);
        }
    }

    @if($active) {
        &:active {
            #{$property}: color.adjust($color, $lightness: $adjustmentPercent * 2);
        }
    }
}

@function getDisableColor($baseColor) {
    $adjustmentPercent: -20%;

    @if(color.lightness($baseColor) > 50) {
        @return color.adjust($baseColor, $lightness: $adjustmentPercent);
    }

    @return color.adjust($baseColor, $alpha: -0.5);
}

@function getSelectedColor($baseColor) {
    $adjustmentPercent: 10%;

    @if(color.lightness($baseColor) > 50) {
        $adjustmentPercent: $adjustmentPercent * -1;
    }

    @return color.adjust($baseColor, $lightness: $adjustmentPercent);
}